<html lang="en">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
    <%- include ../common/stylesheet %>
    <script type="text/javascript" src="admin/assets-minified/js-core.js"></script>
    <script type="text/javascript" src="admin/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="admin/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="admin/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="admin/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="admin/assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="admin/assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="admin/assets/js-core/jquery-cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" > </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js" > </script>
    <script type="text/javascript" src="admin/assets/custom.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CCVRHP4PDP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CCVRHP4PDP');
    </script>
</head>
<body>
    <div id="page-header" class="bg-gradient-9">
        <div id="mobile-navigation">
            <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
            <a href="index.html" class="logo-content-small" title="MonarchUI"></a>
        </div>
        <div id="header-logo" class="logo-bg">
            <a href="/dashboard" class="logo-content-big" title="MonarchUI">
                Books <i>UI</i>
                <span>The perfect solution for book rental</span>
            </a>
            <a href="/dashboard" class="logo-content-small" title="MonarchUI">
                Books <i>UI</i>
                <span>The perfect solution for book rental</span>
            </a>
            <a id="close-sidebar" href="#" title="Close sidebar">
                <i class="glyph-icon icon-angle-left"></i>
            </a>
        </div>
        <div id="header-nav-right">
            <div class="user-account-btn dropdown">
                <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                    <img width="28" src="admin/assets/image-resources/gravatar.jpg" alt="Profile image" />
                    <span>Test</span>
                    <i class="glyph-icon icon-angle-down"></i>
                </a>
                <div class="dropdown-menu float-left">
                    <div class="box-sm">
                        <div class="pad5A button-pane button-pane-alt text-center">
                            <a href="/logout" class="btn display-block font-normal btn-danger">
                                <i class="glyph-icon icon-power-off"></i>
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>