<div class="header-nav animate-dropdown visible-xs">
    <div class="container">
      <div class="yamm navbar navbar-default" role="navigation">
        <div class="navbar-header">
       <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
       <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                  <li class="active dropdown yamm-fw"><a href="/education-and-exams">Education &amp; Exams</a></li>

                  <li class="dropdown yamm-fw"><a href="/medical-and-health-sciences">Medical &amp; Health Sciences</a></li>

                  <li class="dropdown yamm-fw"><a href="/science-and-technology">Science &amp; Technology</a></li>

                  <li class="dropdown yamm-fw"><a href="/law-and-legal-studies">Law &amp; Legal Studies</a></li>

                  <li class="dropdown yamm-fw"><a href="/literature-and-fiction">Literature &amp; Fiction</a></li>

                  <li class="dropdown yamm-fw"><a href="/business-and-management">Business &amp; Management</a></li>

                  <li class="dropdown yamm-fw"><a href="/arts-and-humanities">Arts &amp; Humanities</a></li>

                  <li class="dropdown yamm-fw"><a href="/children-and-young-adult">Children &amp; Young Adult</a></li>

                  <li class="dropdown yamm-fw"><a href="/lifestyle-and-hobbies">Lifestyle &amp; Hobbies</a></li>

                  <li class="dropdown yamm-fw"><a href="/self-help-and-personal-development">Self Help &amp; Personal Development</a></li>

                  <li class="dropdown yamm-fw"><a href="/reference-and-encyclopedias">Reference &amp; Encyclopedias</a></li>

                  <li class="dropdown yamm-fw"><a href="/others">Others</a></li>
                  <!-- Grocery menu content -->
            <% if (1==2) { %>
                  <li class="dropdown yamm mega-menu"> <a href="index.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Grocery</a>
                    <ul class="dropdown-menu container">
                    <li>
                      <div class="yamm-content ">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Pulses</h2>
                            <ul class="links">
                              <li><a href="/grocery">Dresses</a></li>
                              <li><a href="/grocery">Shoes </a></li>
                              <li><a href="/grocery">Jackets</a></li>
                              <li><a href="/grocery">Sunglasses</a></li>
                              <li><a href="/grocery">Sport Wear</a></li>
                              <li><a href="/grocery">Blazers</a></li>
                              <li><a href="/grocery">Shirts</a></li>
                            </ul>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Rice & Other Grains</h2>
                            <ul class="links">
                              <li><a href="/grocery">Handbags</a></li>
                              <li><a href="/grocery">Jwellery</a></li>
                              <li><a href="/grocery">Swimwear </a></li>
                              <li><a href="/grocery">Tops</a></li>
                              <li><a href="/grocery">Flats</a></li>
                              <li><a href="/grocery">Shoes</a></li>
                              <li><a href="/grocery">Winter Wear</a></li>
                            </ul>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Dry Fruits & Nuts</h2>
                            <ul class="links">
                              <li><a href="/grocery">Toys & Games</a></li>
                              <li><a href="/grocery">Jeans</a></li>
                              <li><a href="/grocery">Shirts</a></li>
                              <li><a href="/grocery">Shoes</a></li>
                              <li><a href="/grocery">School Bags</a></li>
                              <li><a href="/grocery">Lunch Box</a></li>
                              <li><a href="/grocery">Footwear</a></li>
                            </ul>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Edible Oils</h2>
                            <ul class="links">
                              <li><a href="/grocery">Sandals </a></li>
                              <li><a href="/grocery">Shorts</a></li>
                              <li><a href="/grocery">Dresses</a></li>
                              <li><a href="/grocery">Jwellery</a></li>
                              <li><a href="/grocery">Bags</a></li>
                              <li><a href="/grocery">Night Dress</a></li>
                              <li><a href="/grocery">Swim Wear</a></li>
                            </ul>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Ghee & Vanaspati</h2>
                            <ul class="links">
                              <li><a href="/grocery">Sandals </a></li>
                              <li><a href="/grocery">Shorts</a></li>
                              <li><a href="/grocery">Dresses</a></li>
                              <li><a href="/grocery">Jwellery</a></li>
                              <li><a href="/grocery">Bags</a></li>
                              <li><a href="/grocery">Night Dress</a></li>
                              <li><a href="/grocery">Swim Wear</a></li>
                            </ul>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Salt & Sugar</h2>
                            <ul class="links">
                              <li><a href="/grocery">Sandals </a></li>
                              <li><a href="/grocery">Shorts</a></li>
                              <li><a href="/grocery">Dresses</a></li>
                              <li><a href="/grocery">Jwellery</a></li>
                              <li><a href="/grocery">Bags</a></li>
                              <li><a href="/grocery">Night Dress</a></li>
                              <li><a href="/grocery">Swim Wear</a></li>
                            </ul>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image"> <img class="img-responsive" src="assets/images/banners/banner-side.png" alt=""> </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="dropdown mega-menu">
                  <a href="category.html"  data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Electronics <span class="menu-label hot-menu hidden-xs">hot</span> </a>
                  <ul class="dropdown-menu container">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Laptops</h2>
                            <ul class="links">
                              <li><a href="/electronic">Gaming</a></li>
                              <li><a href="/electronic">Laptop Skins</a></li>
                              <li><a href="/electronic">Apple</a></li>
                              <li><a href="/electronic">Dell</a></li>
                              <li><a href="/electronic">Lenovo</a></li>
                              <li><a href="/electronic">Microsoft</a></li>
                              <li><a href="/electronic">Asus</a></li>
                              <li><a href="/electronic">Adapters</a></li>
                              <li><a href="/electronic">Batteries</a></li>
                              <li><a href="/electronic">Cooling Pads</a></li>
                            </ul>
                          </div>

                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Desktops</h2>
                            <ul class="links">
                              <li><a href="/electronic">Routers & Modems</a></li>
                              <li><a href="/electronic">CPUs, Processors</a></li>
                              <li><a href="/electronic">PC Gaming Store</a></li>
                              <li><a href="/electronic">Graphics Cards</a></li>
                              <li><a href="/electronic">Components</a></li>
                              <li><a href="/electronic">Webcam</a></li>
                              <li><a href="/electronic">Memory (RAM)</a></li>
                              <li><a href="/electronic">Motherboards</a></li>
                              <li><a href="/electronic">Keyboards</a></li>
                              <li><a href="/electronic">Headphones</a></li>
                            </ul>
                          </div>

                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Cameras</h2>
                            <ul class="links">
                              <li><a href="/electronic">Accessories</a></li>
                              <li><a href="/electronic">Binoculars</a></li>
                              <li><a href="/electronic">Telescopes</a></li>
                              <li><a href="/electronic">Camcorders</a></li>
                              <li><a href="/electronic">Digital</a></li>
                              <li><a href="/electronic">Film Cameras</a></li>
                              <li><a href="/electronic">Flashes</a></li>
                              <li><a href="/electronic">Lenses</a></li>
                              <li><a href="/electronic">Surveillance</a></li>
                              <li><a href="/electronic">Tripods</a></li>
                            </ul>
                          </div>

                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Mobile Phones</h2>
                            <ul class="links">
                              <li><a href="/electronic">Apple</a></li>
                              <li><a href="/electronic">Samsung</a></li>
                              <li><a href="/electronic">Lenovo</a></li>
                              <li><a href="/electronic">Motorola</a></li>
                              <li><a href="/electronic">LeEco</a></li>
                              <li><a href="/electronic">Asus</a></li>
                              <li><a href="/electronic">Acer</a></li>
                              <li><a href="/electronic">Accessories</a></li>
                              <li><a href="/electronic">Headphones</a></li>
                              <li><a href="/electronic">Memory Cards</a></li>
                            </ul>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner"> <a href="#"><img alt="" src="<%= baseURL %>assets/images/banners/banner-side.png"></a> </div>
                        </div>

                      </div>
                    </li>
                  </ul>
                </li> 
              <% } %>
                <li class="dropdown  navbar-right special-menu"> <!--<a href="#">Todays offer</a> --></li>
              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer -->
          </div>
          <!-- /.navbar-collapse -->

        </div>
        <!-- /.nav-bg-class -->
      </div>
      <!-- /.navbar-default -->
    </div>
    <!-- /.container-class -->
</div>