<div class="widgets-wrap float-md-right">
    <!-- <div class="widget-header mr-3">
        <a href="#" class="widget-view">
            <div class="icon-area">
                <i class="fa fa-user"></i>
                <span class="notify">3</span>
            </div>
            <small class="text"> My profile </small>
        </a>
    </div>
    <div class="widget-header mr-3">
        <a href="#" class="widget-view">
            <div class="icon-area">
                <i class="fa fa-comment-dots"></i>
                <span class="notify">1</span>
            </div>
            <small class="text"> Message </small>
        </a>
    </div> -->
    
    <div class="widget-header">
        <a href="#" class="widget-view">
            <div class="icon-area">
                <i class="fas fa-sign-in-alt"></i>
            </div>
            <small class="text"> Login </small>
        </a>
    </div>
    <div class="widget-header">
        <a href="#" class="widget-view">
            <div class="icon-area">
                <i class="fas fa-registered"></i>
            </div>
            <small class="text"> Registration </small>
        </a>
    </div>
    <!-- <div class="widget-header mr-3">
        <a href="/membership" class="widget-view">
            <div class="icon-area">
                <i class="fa fa-id-card"></i>
            </div>
            <small class="text"> Membership </small>
        </a>
    </div> -->
    <div class="widget-header">
        <a href="#" class="widget-view">
            <div class="icon-area">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <small class="text"> Cart </small>
        </a>
    </div>
</div>
